<footer>

  <div class="footer-grid">

    <!-- ABOUT -->
    <div>

      <h3>Pagely Bookstore</h3>

      <p>
        Discover curated books, thoughtful recommendations,
        and a growing community of passionate readers.
      </p>

        <div class="social-icons">

  <a href="#">
    <i class="fa-brands fa-youtube"></i>
  </a>

  <a href="#">
    <i class="fa-brands fa-instagram"></i>
  </a>

  <a href="#">
    <i class="fa-brands fa-facebook-f"></i>
  </a>

  <a href="#">
    <i class="fa-brands fa-telegram"></i>
  </a>

  <a href="#">
    <i class="fa-brands fa-x-twitter"></i>
  </a>

</div>

    </div>

    <!-- QUICK LINKS -->
    <div class="Quick-Links">

      <h3>Quick Links</h3>

      <a href="../home-1/index.html">Home</a>

      <a href="../about/about.html">About</a>

      <a href="../services/service.html">Services</a>

      <a href="../blog/blog.html">Blog</a>

      <a href="../pricing/pricing.html">Pricing</a>

      <a href="../contact/contact.html">Contact</a>

    </div>

    <!-- CATEGORIES -->
    <div>

      <h3>Categories</h3>

      <p>Fiction</p>

      <p>Business</p>

      <p>Technology</p>

      <p>Self Development</p>

      <p>Novels</p>

    </div>

    <!-- CONTACT -->
    <div>

      <h3>Contact Info</h3>

      <p>Email: PagelyBookstore@gmail.com</p>

      <p>Phone: +91 9347657319</p>

      <p>Location: Hyderabad, India</p>

      <p>Open: 9AM - 9PM</p>

    </div>

  </div>

  <!-- COPYRIGHT -->
  <div class="copyright">

    <div class="copyright-left">

      <p>
        © 2026 Pagely Bookstore. All rights reserved.
      </p>

    </div>

    <div class="copyright-right">

      <a href="#">Privacy Policy</a>

      <a href="#">Terms of Service</a>

      <a href="#">Cookie Policy</a>

      <a href="#" class="scroll-top">

        <i data-lucide="chevron-up"></i>

      </a>

    </div>

  </div>

</footer>